<!DOCTYPE html>
<html lang="en" data-ng-app="platoviApp"  >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="platovi">
    <!-- <meta name="fragment" content="!"> -->

    <title data-ng-bind="pageTitle"></title>
    <meta name="description" content="Platovi - places to visit">
	<meta name="keywords" content="{{keywords}}">
	<meta name="msvalidate.01" content="BEA9ADA5C54A79F9CF8A3785A37F7BDB" />
     
    
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" /> -->
    <link rel="icon" type="image/png" href="img/favicon.png"/>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Angular Material style sheet -->
  	<link rel="stylesheet" href="css/angular-material.min.css">
  	
  	<link rel="stylesheet" href="css/rzslider.min.css">
  	
  	<link rel="stylesheet" href="css/animate.css">
	
	<!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">
    
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAsmJaJHrBMmkY6uvdBZXF-iEK_Ht8dubY"></script>
    
    <!-- Angularjs -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    
    <!-- ui bootstrap -->
    <script type="text/javascript" src="js/ui-bootstrap-tpls-1.1.2.min.js"></script>
    
    <!-- distance Slider -->
    <script src="js/rzslider.min.js"></script>
	
	<!-- breadcrumb -->
	<script src="js/angular-breadcrumb.min.js"></script> 
	
	<!-- Angular material design -->
	
  	<script src="js/angular-animate.min.js"></script>
  	<script src="js/angular-aria.min.js"></script>
  	<script src="js/angular-messages.min.js"></script>
	
  	<!-- Angular Material Library -->
  	<script src="js/angular-material.min.js"></script>
	
	<!-- Google maps -->
	
	<script src="js/ng-map.min.js"></script>
	
	<!-- leaflet -->
	<!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
	<script src="js/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css"> -->
	
	<!-- disqus -->
	<script src="js/dirDisqus.js"></script>
	
	<!-- Angular feeds -->
	<script src="js/jsapi.js"></script>
	<script src="js/angular-feeds.js"></script>
	
	<!-- google analytics -->
	<script src="js/angulartics.min.js"></script>
	<script src="js/angulartics-ga.min.js"></script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-76323795-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
	
    <script src="controllers/platoviController.js"></script>
</head>

<body>	
	
	<div class=""></div>
	<div data-ng-controller="headerController">
		    
		    
		    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
		        <div class="container-fluid">
		            <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header page-scroll">
		                <button type="button" class="navbar-toggle" data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = !navCollapsed">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" data-ui-sref="home"><img data-ng-src="img/PlatoviLogo.png" class="logo"></img></a>
		            </div>
		
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <div class="collapse navbar-collapse" data-uib-collapse="navCollapsed">
		                <form name="searchForm" class="navbar-form navbar-right" role="search" data-ng-submit="detailCity(searchForm.$valid)" novalidate>
				          <div class="input-group autocomplete">
				            <input type="text" name="selectedCity" class="form-control" placeholder="Search" data-ng-model="selectedCity" data-uib-typeahead="city for city in cityNameList | filter:$viewValue | limitTo:5" class="form-control" required>
				          	<div class="input-group-btn">
				                <button class="btn btn-default" type="submit" data-ng-disabled="searchForm.$invalid" analytics-on="click" analytics-event="searchHeader"><i class="glyphicon glyphicon-search"></i></button>
				            </div>
				          </div>
				        </form>
		            </div>
		            <!-- /.navbar-collapse -->
		        </div>
		        <!-- /.container-fluid -->
		    </nav>
		    
		
		    
	</div>
	<div class="jumbotron text-center" data-ng-show="error.length>0">
	  <h1>
	  	<span class="fa-broken-heart fa-stack">
			<i class="fa fa-heart fa-stack-2x"></i>
			<i class="fa fa-flash fa-stack-1x"></i>
		</span>																					
	  	<br/>
	  	<span data-ng-bind="error"></span>
	  </h1>
	  <p>Maybe these will help you find your way...</p>
	</div>
	
	
		
    <!--  ui view section -->
    <section data-ng-class="{'content-section-background': isHomeController}" data-ui-view="">
    		
    </section>
    	

    <section data-ng-show="isHomeController || error.length>0" class="bg-light-gray" data-ng-controller="homePage2Controller">
    	
    	<!-- Explore top states -->
    	<section class="large-padding">
    		<h1 class="page-header text-center">Explore places by State</h1>
	    	<div class="container medium-padding">
	    		<div class="row">	
		    		<div class="col-md-4 col-sm-6 portfolio-item animate-repeat" data-ng-repeat="state in topStateData">
						<md-card class="place-card">
	                    	<div>
	                    	  <a data-ui-sref="state({stateName : state.stateName})" data-ng-click='showdetailCity(state)' class="portfolio-link">
	                        	<span class="center-text">
	                        		<h2>{{state.stateName}}</h2>
	                        	</span>
	                        	<img data-ng-src="{{state.imageMediumPath}}" err-SRC="img/city/default.jpg" alt="places to visit in {{state.stateName}}" class="img-responsive" >
					         </a>
					         </div>				        
					  </md-card>
					</div>
				</div>
			</div>
		</section>
    	
    	
    	<!-- Explore places by category -->
    	<section class="no-padding large-padding">
    		<h1 class="page-header text-center ">Explore places by Category</h1>
	        <div class="container-fluid medium-padding">
	            <div class="row no-gutter">
	                <div class="col-lg-4 col-sm-6" data-ng-repeat="category in categories">
	                    <a data-ui-sref="resultOnCategory({categoryType : 'is'+category})" class="portfolio-box ">
	                    	<span class="center-text"><h2>{{category}}</h2></span>
	                        <img data-ng-src="img/category/medium/{{category | replaceIsFilter}}.jpg" class="img-responsive" alt="places to visit in {{category | replaceIsFilter}}">
	                    </a>
	                </div>
	                
	            </div>
	        </div>
	    </section>
	    
	    <!-- Explore top cities -->
    	<section class="large-padding">
    		<h1 class="page-header text-center">Explore top places to visit</h1>
	    	<div class="container medium-padding">
	    		<div class="row">	
		    		<div class="col-md-4 col-sm-6 portfolio-item animate-repeat" data-ng-repeat="city in topCitydata">
						<md-card class="place-card">
						<div>
							<a data-ui-sref="detail({cityName : city.cityName})" data-ng-click='showdetailCity(city)' class="portfolio-link"> 
								
								<span class="center-text">
									<h2>{{city.cityName}}</h2>
								</span> 
								<img data-ng-src="{{city.imageMediumPath}}" err-SRC="img/city/default.jpg" alt="places to visit in {{city.cityName}}" class="place-img img-responsive">
							</a>
						</div>
						</md-card>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Blogs -->
		<section class="bg-dark large-padding blog-section">
			<div class="container text-center">
	            <div class="call-to-action">
	                <h2>Click below to view our blog posts!</h2>
	                <md-button class="md-raised md-primary btn-large animated tada"><a href="http://blog.platovi.com" class="md-raised md-primary btn-large white-color"><i class="fa fa-search"></i> Blog</a></md-button>
	            </div>
       		</div>
		</section>

    	
    	<!-- Blogger -->
    	<div class="large-padding">
    		<feed summary="true" url="http://blog.platovi.com/feeds/posts/default/-/Business?alt=rss" count="5"/>
    	</div>
    </section>
    
    
    
    <!-- Footer -->
    <footer>
        <div class="container">
        	<div class="row">
                <div class="col-lg-12">
                	<div class="col-lg-3 col-md-3 col-sm-6">
                		<ul class="footer-list">
                			<li>Country</li>
                			<li><a data-ui-sref="country({countryName : 'India'})">India</a></li>
                		</ul>
                	</div>
                	<div class="col-lg-3 col-md-3 col-sm-6">
                		<ul class="footer-list">
                			<li>State</li>
                			<li><a data-ui-sref="state({stateName : 'Uttar Pradesh'})">Uttar Pradesh</a></li>
                			<li><a data-ui-sref="state({stateName : 'Goa'})">Goa</a></li>
                			<li><a data-ui-sref="state({stateName : 'Himachal Pradesh'})">Himachal Pradesh</a></li>
                			<li><a data-ui-sref="state({stateName : 'Maharashtra'})">Maharashtra</a></li>
                			<li><a data-ui-sref="state({stateName : 'Delhi'})">Delhi</a></li>
                			<li><a data-ui-sref="state({stateName : 'Jammu and Kashmir'})">Jammu and Kashmir</a></li>
                			<li><a data-ui-sref="state({stateName : 'Uttarakhand'})">Uttarakhand</a></li>
                			<li><a data-ui-sref="state({stateName : 'Sikkim'})">Sikkim</a></li>
                			<li><a data-ui-sref="state({stateName : 'Kerala'})">Kerala</a></li>
                		</ul>
                	</div>
                	<div class="col-lg-3 col-md-3 col-sm-6">
                		<ul class="footer-list">
                			<li>City</li>
                			<li><a data-ui-sref="detail({cityName : 'Agra'})">Agra</a></li>
                			<li><a data-ui-sref="detail({cityName : 'Goa'})">Goa</a></li>
                			<li><a data-ui-sref="detail({cityName : Leh})">Leh</a></li>
                			<li><a data-ui-sref="detail({cityName : 'Mumbai'})">Mumbai</a></li>
                			<li><a data-ui-sref="detail({cityName : 'Delhi'})">Delhi</a></li>
                			<li><a data-ui-sref="detail({cityName : 'Bangalore'})">Bangalore</a></li>
                			<li><a data-ui-sref="detail({cityName : 'Kolkata'})">Kolkata</a></li>
                			<li><a data-ui-sref="detail({cityName : 'Chennai'})">Chennai</a></li>
                		</ul>
                	</div>
                	<div class="col-lg-3 col-md-3 col-sm-6">
                		<ul class="footer-list">
                			<li>Category</li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isAdventure'})">Adventure</a></li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isBeachCity'})">Beach</a></li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isDesert'})">Desert</a></li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isGreenCity'})">Green City</a></li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isHeritage'})">Heritage</a></li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isHillorMountain'})">Hill or Mountain</a></li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isMetropolitan'})">Metropolitan</a></li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isNightLife'})">NightLife</a></li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isReligious'})">Religious</a></li>
                			<li><a data-ui-sref="resultOnCategory({categoryType : 'isTrending'})">Trending</a></li>
                		</ul>
                	</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="http://blog.platovi.com">Blog</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="mailto:joshi.jay.d@gmail.com?Subject=Platovi" target="_top">Contact</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/sitemap.xml">Sitemap</a>
                        </li>
                    </ul>
                    <!-- temparary contact page -->
                    <p class="copyright text-muted small">Copyright &copy; <script>document.write(new Date().getFullYear());</script> | Platovi - places to visit | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
 

</body>

</html>
